<style>
  html { 
    background: url(/images/DSC_0025.JPG) no-repeat center center fixed; 
  }
</style>

<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather&display=swap" rel="stylesheet">

<h1>Edit article</h1>

<%= render 'form' %>

<%= link_to 'Cancel and return to articles listing', articles_path %>
