<head> 
  <title>Edit Message</title>
</head>

<section class="hero container">
  <h2>Edit Message</h2>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>CRUD - Edit</p>
  </div>
</section>

<section class="row-new-article">
  <div class="grid">

    <%= render 'form' %>

  </div>
</section>

<section class="row">
  <div class="lead container">
    <a class="btn btn-alt" href="/articles" >Cancel</a>
  </div>
</section>
