<head> 
  <title>Messages</title>
</head>

<section class="hero container">
  <h2>Messages</h2>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>Be kind and leave a message.</p>
    <a class="btn-mine btn-alt" href="/articles/new" >New Message</a>
  </div>
</section>

<%= render 'article' %>
