<head> 
  <title>Messages</title>
</head>

<section class="hero container">
  <h2>Messages</h2>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>Be kind and leave a message (login required).</p>
    <% if logged_in? %>
      <%= link_to "New message", new_article_path, class: "btn btn-outline-info btn-lg" %>
    <% end %>
  </div>
</section>

<div class="flickr_pagination mt-4">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>