<head> 
  <title>New Message</title>
</head>

<section class="row-alt mt-3 mb-5">
  <div class="lead container mt-2">
    <h2>New Message</h2>
  </div>
</section>

<section class="row">
  <div class="grid">

    <%= render 'form' %>

  </div>
</section>
