<head> 
  <title>New Message</title>
</head>

<section class="hero container">
  <h2>Crate a new messsage</h2>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>CRUD - Create</p>
  </div>
</section>

<section class="row-new-article">
  <div class="grid">

    <%= render 'form' %>

  </div>
</section>

<section class="row-mine">
  <div class="lead container">
    <a class="btn-mine btn-alt" href="/articles" >Cancel</a>
  </div>
</section>
