<head> 
  <title>View Message</title>
</head>

<section class="hero container">
  <h2>Read Message</h2>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>CRUD - Read</p>
  </div>
</section>

<section class="row-new-article">
  <div class="grid">
    <h6><strong>Title: </strong><%= @article.title %></h6>
    <h6><strong>Description: </strong><%= @article.description %></h6>
  </div>
</section>

<section class="row-mine">
  <div class="lead container">
    <a class="btn-mine btn-alt" href="/articles" >return</a>
  </div>
</section>

