<head> 
  <title>Edit User</title>
</head>

<section class="row-alt mt-3 mb-5">
  <div class="lead container mt-2">
    <h2>Edit your profile</h2>
  </div>
</section>

<section class="row">
  <div class="grid">

    <%= render 'form' %>

  </div>
</section>
