<head> 
  <title>Filipe Zeferino</title>
</head>

<section class="row-mine">
  <div class="grid">

    <section class="about">
      <div class="col-2-3">
        <div>
          <h2>Filipe Zeferino</h2>
          <h6>Electrical Engineer (UFSC/2010), currently coordinating the motor and electrical components subsystem at Nidec-GA/Embraco, Joinville. Extensive experience with project coordination related to product change.</h6>
          <h6>Interested and fond of technology, I observe in the programming activity great affinity with my profile and personal skills.</h6>
          <h6>I'm eager to implement what I could learn so far on a professional environmet, I hope that through this website you can find some use for my skills :)</h6>
        </div>

        <div>
          <br><h5>Carreer Goals</h5>
          <h6>To restart the carreer as Software Engineer and buid up the knowledge and experience that will allow me to reach the seniority on the field.</h6>
          <h6>I want to remain motivated, challenged and valued, facing a feasible and reliable professional road map.</h6>
        </div>
      </div><!--

      --><aside class="col-1-3">
        <div class="about-info">

          <%= image_tag("about/profile-new.jpg") %>

          <ul>
            <li><%= link_to "Github", "https://github.com/filipezef", target: :_blank %></li>
            <li><%= link_to "HackerRank", "https://www.hackerrank.com/filipezef", target: :_blank %></li>
            <li><%= link_to "linkedin", "https://www.linkedin.com/in/filipezef", target: :_blank %></li>
          </ul>
        </div>
      </aside>
    </section>

  </div>
</section>
