<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      html { 
        background: url(/images/wp4755627-the-lighthouse-wallpapers.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        font-family: 'Audiowide', cursive;
      }
      h1 {
        font-size: 40px;
        text-align: left;
        padding: 10px 0 0 40px; 
      }

      h2 {
        font-size: 30px;
        text-align: left;
        padding: 20px 20px 20px 40px;
      }

      h3, a {
        text-align: left;
        margin: 20px;
        line-height: 10;
        color: white;
      }

    </style>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>about</title>
  </head>
  <body>
    <h1>Filipe Campos Zeferino</h1>
    <h2><i>An enthusiastic Electrical Engineer trying his way out of industry through coding.</i></h2>
    <h3><%= link_to 'Home', root_path %></h3>
  </body>
</html>
