<head> 
  <title>Back-end</title>
</head>

<section class="hero container">
  <h2><strong>Back-end learning road map</strong></h2>
</section>

<!--Ruby on Rails-->

<section class="row-alt">
  <div class="lead container">
    <h2>Ruby on Rails</h2>
    <p>(hover over the images to check the course status)</p>
  </div>
</section>

<section class="row">
  <div class="grid">

    <!--Udemy - Ruby on Rails-->

    <section class="teaser col-1-3">
      <h5>Ruby on Rails Developer Course</h5>
      <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/" target="_blank">
        <img class="teaser" src="/images/rails/ruby-on-rails-developer-udemy.PNG" title="On going, currently on class 134 out of 446 (30% completed)" alt="Udemy - Ruby on Rails Course">
        <h3>Ruby on Rails Developer Course</h3>
      </a>
      <h4>Learn to make innovative web apps with Ruby on Rails and unleash your creativity</h4>
    </section><!--

    One Bit Code - Pure Ruby
    
    --><section class="teaser col-1-3">
      <h5>One Bit Code - Pure Ruby</h5>
      <a href="https://onebitcode.com/course/ruby-puro/" target="_blank">
        <img class="teaser" src="/images/rails/onebitcode-ruby-puro.PNG" title="On going, currently on class 10 out of 10 (missing to complete final project)" alt="One Bit Code - Pure Ruby">
        <h3>Pure Ruby Course</h3>
      </a>
      <h4>10 classes with examples and tutorials, at the end of the course it is proposed a final project to be deployed.</h4>
    </section>

  </div>
</section>

<!--Python-->

<section class="row-alt">
  <div class="lead container">
    <h2>Python learning road map</h2>
    <p>(hover over the images the check each course status)</p>
  </div>
</section>

<section class="row">
  <div class="grid">

    <!--Udemy - Python 3 Course-->

    <section class="teaser col-1-3">
      <h5>Python 3 Course</h5>
      <a href="https://www.udemy.com/course/python-3-do-zero-ao-avancado/" title="On going, currently on class 96 out of 434 (20% completed)" target="_blank">
        <img class="teaser" src="/images/python/python3-udemy.PNG" alt="Udemy - Python 3 Course">
        <h3>Python 3 Course</h3>
      </a>
      <h4>Coding with Django, PyQT5, Selenium, Regexp, Tests e TDD, POO, Design Patterns GoF and algoritms.</h4>
    </section><!--
    
    HackerRank - 30 Days of Code
    
    --><section class="teaser col-1-3">
      <h5>HackerRank - 30 Days of Code</h5>
      <a href="https://www.hackerrank.com/domains/tutorials/30-days-of-code" title="On going, currently on day 18 out of 30, silver level (60% completed)" target="_blank">
        <img class="teaser" src="/images/python/hackerrank-30-days-code.PNG" alt="HackerRank - 30 Days of Code">
        <h3>30 Days of Code</h3>
      </a>
      <h4>Tutorial with proposed problems for solution through coding (multiple lenguages supported)</h4>
    </section><!--
    
    HackerRank - Problem Solving
    
    --><section class="teaser col-1-3">
      <h5>HackerRank - Problem Solving</h5>
      <a href="https://www.hackerrank.com/domains/algorithms/" target="_blank">
        <img class="teaser" src="/images/python/hackerrank-problem-solving.PNG" title="On going, currently on silver level (20% completed)" alt="HackerRank - Problem Solving">
        <h3>Problem Solving</h3>
      </a>
      <h4>Tutorial with proposed problems for solution through coding (multiple lenguages supported).</h4>
    </section>

  </div>
</section>
