<!DOCTYPE html>
<html>
  <head>
    <style>
      html {
      color: rgb(1, 6, 14);
      background-color: #00329f;
      font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
      font-family: 'Merriweather', serif; /* this should be the rest of the output you got from Google fonts */
      }

      h1 {
        font-size: 60px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        color: #00539F;
        text-shadow: 3px 3px 2px black;
      }

      p, li {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
      }

      body {
        width: 800px;
        margin: 30px auto;
        background-color: white;
        padding: 0 20px 20px 20px;
        border: 5px solid black;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Zeferino blog homepage</title>
  </head>
  <body>
    <h1><strong>Filipe Zeferino</strong></h1>
    <p>This is my tryout blog</p>
    <ul>
      <li>tests</li>
      <li>experiments</li>
      <li>studying</li>
    </ul>
    <p>Check out my linkedin account -> <a href="https://www.linkedin.com/in/filipezef/"> linkedin.com/in/filipezef/</a>.</p>
    <p>Check out my github repo ->  <a href="https://github.com/filipezef"> github.com/filipezef</a></p>
  </body>
</html>
