<head>
  <title>Home</title>
</head>

<section class="hero container mt-4">
  <h2>Welcome to my website!</h2>
</section>

<section>
  <div class="lead container mb-5">
   
    <%= link_to "Log in!", login_path, class: "btn btn-success btn-lg me-2" %>
    or  
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg ms-2" %>
    
  </div>
</section>

<section class="row-alt mb-5">
  <div class="lead container mt-2">
    <p>CRUD feature available!</p>
  </div>
</section>
