<head>
  <title>Home</title>
</head>

<div class="bg-light p-5 text-center rounded-lg m-5" id="home-container">
  <h1 class="display-5 text-light">Welcome!</h1>
  <p class="lead text-light">Checkout my journey through coding on the "About" menu.</p>

  <div class="lead container mt-5">
    <%= link_to "Log in", login_path, class: "btn btn-success btn-lg me-3" %>
    |  
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg ms-3" %>
  </div>
  
</div>