<head>
  <title>Home</title>
</head>

<div class="bg-light p-5 text-center rounded-lg m-5" id="home-container">
  <h1 class="display-5 text-light">Welcome!</h1>
  <%= link_to "Log in", login_path, class: "btn btn-success btn-lg m-5" %>
  <p class="lead text-light fw-bolder mt-3">I'm super excited to have you here! Be kind and browse :)</p>
</div>