<!DOCTYPE html>
<html>
  <head>
    <style>
      html { 
        background: url(/images/DSC_0026.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      
      h1 {
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
        margin: 0;
        padding: 20px 0;
        color: white;
        text-shadow: 3px 3px 2px black;
        font-family: 'Audiowide', cursive;
      }

      p, li {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.5px;
        color: white;
        font-family: 'Audiowide', cursive;
      }

      body {
        width: 600px;
        margin: 30px;
        padding: 0 20px 20px 20px; 
      }

    </style>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Zeferino blog homepage</title>
  </head>
  <body>
    <h1><strong>Filipe Zeferino</strong></h1>
    <p>This is my tryout blog</p>
    <ul>
      <li>tests</li>
      <li>experiments</li>
      <li>studying</li>
    </ul>
    <p>Check out my linkedin account: <a href="https://www.linkedin.com/in/filipezef/">linkedin.com/in/filipezef/</a>.</p>
    <p>Check out my github repo: <a href="https://github.com/filipezef">github.com/filipezef</a></p>
  </body>
</html>
