<head>
  <title>Home</title>
</head>

<section class="hero container">
  <br>
  <h2>Welcome to my website!</h2>
  <p>Check below what I could cover so far on coding</p>
  <a class="btn btn-alt" href="back-end" >Back-end</a>
  <a class="btn btn-alt" href="front-end" >Front-end</a>
  <a class="btn btn-alt" href="coding" >Coding</a>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>CRUD feature just launched!</p>
    <a class="btn btn-alt" href="/articles" >CRUD</a>
  </div>
</section>
