<head>
  <title>Home</title>
</head>

<section class="hero container">
  <br>
  <h2>Welcome!</h2>
</section>

<section>
  <div class="lead container mb-3">
    <p>Check below what I could cover so far on coding</p>
    <%= link_to "Back-end", back_end_path, class: "btn btn-secondary" %>
    <%= link_to "Front-end", front_end_path, class: "btn btn-secondary" %>
  </div>
</section>

<section class="row-alt">
  <div class="lead container">
    <p>CRUD feature just launched!</p>
    <%= link_to "CRUD", articles_path, class: "btn-mine btn-alt" %>
    <br><br>
  </div>
</section>
