<footer id="sticky-footer" class="py-4 bg light">
  <div class="container text-center">
    <small>by &copy; <%= link_to "Filipe Zeferino", "https://zeferino.herokuapp.com", class: "text-white", target: :_blank %></small>
  </div>
</footer>
